name: 'C++ CI'

on:
  push:
    branches:
      - main
      - feature/github_actions

jobs:
  build:
    runs-on: 'ubuntu-20.04'
    steps:
      - uses: actions/checkout@v3

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version:  '5.15.2'

      - name: Build Messenger
        shell: pwsh
        run: scripts/build.ps1
        
      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1.1.0
        with:
        # Path to Doxyfile
        doxyfile-path: "./Doxyfile" # default is ./Doxyfile
        # Working directory
        working-directory: "." # default is .
